@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --bg-1: #ffffff;
  --bg-2: #f8f8f8;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
}

body {
  font-family: "Cardo", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  background-color: var(--bg-2);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.33;
  letter-spacing: -0.015em;
}

p {
  letter-spacing: 1.03;
  /* font-size: large; */
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg-1);
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); */
}

header h1 {
  margin: 0;
  padding: var(--space-md);
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: var(--bg-1);
  padding: var(--space-xl);
  text-align: center;
  margin-block-start: var(--space-xl);
}

main {
  min-width: 100vh;
}
