.post-title {
  font-size: xxx-large;
  text-align: center;
  margin: calc(var(--space-xl) * 2);
}

.post-subtitle {
  font-size: x-large;
  text-align: center;
  grid-column: 2 / span 10;
  margin: calc(var(--space-xl) * 2) 0;
}

/* make container */
.post-content {
  max-width: 80%;
  margin: 0 auto;
  font-size: large;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.post-content img {
  grid-column: 1 / span 12;
}

h2 {
  font-size: xx-large;
}

.post-content h1,
h2,
h3,
h4,
h5,
small {
  grid-column: 1 / span 12;
}

.post-content p {
  grid-column: 3 / span 8;
}

p {
  line-height: 2;
  font-size: larger;
}

.post-content img {
  margin-block-start: var(--space-sm);
  margin-block-end: var(--space-xl);
}

p:first-of-type:first-letter {
  initial-letter: var(--initial, 2 2);
  -webkit-initial-letter: var(--initial, 2 2);
  font-weight: bold;
  margin-right: 1rem;
  color: #005bbb;
  text-shadow: 0.25rem 0.25rem #ffd500;
}
